<nav class="menu">
    <a href="/" class="menu-button">Página principal</a>
    <a href="/pastor-aleman" class="menu-button">Pastor Alemán</a>
    <a href="/golden" class="menu-button">Golden Retriever</a>
    <a href="/pequines" class="menu-button">Pequinés</a>
</nav>
