<div class="content">
    <h1>Golden Retriever</h1>
    
    <div class="text-content">
        <p>El Golden Retriever es una raza de perro que se desarroll칩 en Escocia. Son conocidos por su pelaje dorado, su naturaleza amigable y su excelente disposici칩n para trabajar como perros de asistencia y terapia.</p>
    </div>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dfdPn4pF9Ec?si=ZvGIpd0xZ7FJS35A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div class="text-content">
        <p>Los Golden Retrievers son excelentes perros familiares, conocidos por su paciencia con los ni침os y su naturaleza gentil. Son muy inteligentes y f치ciles de entrenar, lo que los hace ideales como mascotas.</p>
    </div>
</div>
