<div class="content">
    <h1>Perros Domésticos</h1>
    
    <div class="text-content">
        <p>Los perros domésticos (Canis lupus familiaris) son mamíferos carnívoros que han evolucionado del lobo gris a través de miles de años de domesticación. Son considerados los mejores amigos del hombre y han desarrollado una estrecha relación con los seres humanos.</p>
        
        <p>Estos animales se caracterizan por su lealtad, inteligencia y capacidad de aprendizaje. A lo largo de la historia, han sido criados para diversos propósitos, incluyendo la compañía, el pastoreo, la caza y la protección.</p>
    </div>

    <div class="image-gallery">
        <img src="/images/goldenretriever.jpg" alt="Perro doméstico 1" class="dog-image">
        <img src="/images/pastoaleman.jpg" alt="Perro doméstico 2" class="dog-image">
    </div>
</div>
