<div class="content">
    <h1>Pastor Alemán</h1>
    
    <div class="text-content">
        <p>El Pastor Alemán es una raza de perro de trabajo originaria de Alemania. Son conocidos por su inteligencia, lealtad y versatilidad, siendo utilizados como perros policía, guías y de rescate.</p>
    </div>

    <table class="characteristics-table">
        <tr>
            <th>Característica</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>Altura</td>
            <td>55-65 cm</td>
        </tr>
        <tr>
            <td>Peso</td>
            <td>30-40 kg</td>
        </tr>
        <tr>
            <td>Esperanza de vida</td>
            <td>9-13 años</td>
        </tr>
        <tr>
            <td>Temperamento</td>
            <td>Leal, inteligente</td>
        </tr>
    </table>

    <div class="image-gallery">
        <img src="/images/pastoAleman1.jpg" alt="Pastor Alemán 1" class="dog-image">
        <img src="/images/pastoAleman2.jpg" alt="Pastor Alemán 2" class="dog-image">
    </div>
</div>
