<div class="content">
    <h1>Pequinés</h1>
    
    <div class="text-content">
        <p>El Pequinés es una antigua raza de perro originaria de China. Fueron perros imperiales y se caracterizan por su pequeño tamaño y su personalidad digna y valiente.</p>
    </div>

    <table class="characteristics-table">
        <tr>
            <th>Característica</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>Altura</td>
            <td>15-23 cm</td>
        </tr>
        <tr>
            <td>Peso</td>
            <td>3-6 kg</td>
        </tr>
        <tr>
            <td>Esperanza de vida</td>
            <td>12-14 años</td>
        </tr>
        <tr>
            <td>Temperamento</td>
            <td>Digno, leal, independiente</td>
        </tr>
    </table>

    <div class="image-gallery">
        <img src="/images/pequines1.jpg" alt="Pequinés 1" class="dog-image">
        <img src="/images/pequines2.jpg" alt="Pequinés 2" class="dog-image">
    </div>
</div>
